<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="'title: ' + ${recipe.title}">Recipe Title</p>
<p th:text="'description: ' + ${recipe.description}">Recipe Description</p>
<p th:text="'Time for cook: ' + ${recipe.cookingTime}">Time for Cook</p>
<p th:text="'Portions: ' + ${recipe.portions}">Recipe portions</p>
<p th:text="'Rating: ' + ${recipe.rating}">Rating of recipe</p>
<p th:text="'Post Date: ' + ${recipe.postDate}">Post date of recipe</p>
<p th:text="'Photo of recipe: ' + ${recipe.photo}">Photo date of recipe</p>


</body>
</html>